.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_box {
    margin-top: 20px;
    width: 600px;
    height: 750px;
    box-shadow: 0 10px 20px #0f2027;
    background: #47aff2; /*#472027*/
    border-radius: 23px;
    display: flex;
    padding: 10px 10px 10px 10px;
    color: white;
    position: relative;
    overflow: hidden;
}

.border {
    /*border: 5px solid #1ca289 ;*/
    border-radius: 20px;
}



.box {
    margin-top: 20px;
    margin-left: 25px;
    width: 250px;
    height: 250px;
    box-shadow: 0 10px 20px #0f2027;
    background: #1ca289; /*#472027*/
    border-radius: 23px;
    flex-direction: column;
    color: white;
    position: relative;
    overflow: hidden;
}

.box img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}


.image_button1 {
    border: none;
    background: transparent;
}
/*.image_size_butt {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*}*/

.user_name {
    margin-bottom: 5px;
    font-size: 20px;
}

/* a arrow */
.arr_container, .cancel {
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    bottom: 0;
    right: 0;
    border-radius: 23px 0 23px 0;
    color: rgb(70, 70, 70);
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .4s;
}

.arr_container i {
    transform: rotate(45deg);
}

.active_arr {
    transform: translate(80%, 80%);
}

.left_container {
    /*display: none;*/
    position: absolute;
    background: #0f2027;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    padding: 30px 0 0 90px;
    transition: all .4s;
}

.off {
    transform: translate(-80%, -80%) rotate(90deg);
}

.active {
    transform: translate(0) rotate(0);
}


.left_container p {
    margin-bottom: 5px;
    font-size: 1.2rem;
}
.git_but {
    border: 1px solid white;
    background: transparent;
    color: white;
    border-radius: 45px;
}

.left_container .skills_me div {
    display: inline-block;
    color: rgb(155, 155, 155);
    border: 1px solid rgb(155, 155, 155);
    padding: 5px 10px;
    font-size: .9rem;
    margin: 4px 4px 4px 0;
}

.face_and_git {
    width: 50%;
}

.about_text :focus,
.about_text {
    margin-left: 15px;
    border: 3px solid white;
    border-radius: 45px;
    width: 275px;
    height: 520px;
    color: white;
    font-size: 18px;
    padding-left: 10px;
    background: #47aff2;
}

.label_info {
    border-bottom: 1px solid white;
    font-size: 20px;
}
